h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight:600;
  }

  html,body {
    font-family: "Montserrat";
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }





/* Navigation portion */

#nav-portion{
  background-color: #1B4D5A;
  color: #a9dd19;

}

.logo{
  width: 15%;
  
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  margin: 0 15px;
}

  .adjust{
    padding-left: 8%;
  }








  .title-image {
    width: 50%;
     text-align:right;
  }
  
  h3 {
    font-family: "Montserrat";
  }
  
  h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }
  
  p {
    color: #32ad5b;
  }

















/* title portion */

  .download-button {
    margin: 5% 3% 5% 0;
  }

  .title-image {
    width: 50%;
     text-align:right;
  }
  
  h3 {
    font-family: "Montserrat";
  }
  
  h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }

  #title-portion{
    background-color:#8CC152;
    color:#fff;
    font-family: "Montserrat";
    padding: 7% 15%;
    text-align: center;
  }
  #title-portion p{
    color:#1B4D5A;
  }
.row_head_first{
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.5rem;
  line-height: 1.5;
  font-weight: 600;
    
}
.row_head_second{

  color: #fff;;
}




/* second title part */





#title-portion2{
  background-color:#1B4D5A;
  color: #fff;;
  font-family: "Montserrat";
  padding: 3% 15%;
  text-align:left;
}
#title-portion2 p{
  color:#309630;
}


.row_head_secondp{

  color:#fcfdfd;
}










/* testimonial part */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color:  #184d47;
  background: url(images/nature1.jpeg);
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color:  #184d47;
  padding-bottom: 3%;
  text-align: center;
}

.logo-cred {
  width: 15%;
  margin: 20px 20px 50px;
}






/*features portion*/

#features {
    background-color: #fff;
  }
  
  .feature-box {
    text-align: center;
    padding: 5%;
  }
  
  .utkarsh {
    color: #184d47;
    margin-bottom: 1rem;
  }
  
  .utkarsh:hover {
    color: #f9e45b;
  }








/* search portion */


  #pricing {
    padding: 0 8% 0 ;
    background-color: #fffbfd;
    background: url(./images/sunset-pose.jpg);
  }

  #pricing .card{
    background: transparent;
  }
  
.pricing-p{
  color: #206a5d;
 
}
  
.above{
  color: #69647a;
}

.pricing-column {
    padding: 3% 2%;
}

#heading{
  font-size: 2.5rem;
}

/* cta portion */

  #cta {
    background-color: #1b4d5a;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }
  
  .cta-heading {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
  }

#testimonials{
background-color: #a9dd19;
}

/* footer portion */
.footer{
  padding: 40px 0;
  background: black;
  color: white;
  text-align: center;
}

.footer p{
  font-size: 40px;
}
.footer i{
  font-size: 34px;
  margin: 5px 8px;
}


.fa-facebook{
  color: #4867aa;
}

.fa-instagram{
  color: #d6286c;;
}

.fa-twitter{
  color: rgb(29, 161, 242);
}

.fa-youtube{
  color: red;
}
.b{
  align-content: center;
  color: blue;
}

#carouselExampleControls img{
  width: 100%;
  height: fit-content;
}
